body {
    margin: 0;
}

:root{
    --cor-primaria: #F50057;
    --cor-secundaria: #0C3C78;
    --cor-terciaria: #fff;
    --fonte-apple: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* main login */
.conteiner{
    /* VW corresponde a: Viewport width e Vh a: Viewport height. E Viewport a:Porcentagem de pixel da tela. EX: se sua tela tem 1000px 1 vh corresponde a 1%, logo 1vh = 10px */ 
    width: 100vw;
    height: 96vh;
    background-image: url("foto2.png") ;
    display:flex;
    justify-content: center;
    align-items: center;
   
}


.conteiner-1 > h1{
    color: white;
}
/* right-login */
.conteiner-2 {
   width: 50vw;
   height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
}


/* card login */
.card-login {
    width: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0C3C78;
    padding: 30px 35px;
    border-radius: 20px;
    margin: 10px;
    box-shadow:0px 10px 15px black;
}

.imagem {
   align-items: center;
   padding-bottom: 20px;

}

.imagem-1 {
    width: 50vw;
    margin: 10px;
}

.campo-de-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px; 
    position: relative;
}


.campo-de-texto > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 11pt;
    font-family: Quicksand, sans-serif;
    box-sizing: border-box;
}

span{
    position: absolute;
    padding-left: 10px;
    font-size: 17px;
    letter-spacing: 0.05em;
    pointer-events: none;
    font-family: var(--fonte-apple);
    transition: .4s;
}

input:focus{
    border: none;
    outline: 2px solid black;
}

input:focus + span,
input:valid + span{
    top: -8px;
    left: 10px;
    font-size: 10pt;
    padding: 0 10px;
}

input:focus + span,
input:valid + span:hover{
    color: white;
}


.campo-de-texto > input:invalid {
    animation: shake 300ms;
}

@keyframes shake {
    25% { transform: translate(4px)}
    50% { transform: translate(-4px)}
    75% { transform: translate(4px)}
}

.btn {
    border: none;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .5s;
}

.botao-1{
    background-color:var(--cor-terciaria);
    outline:none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fonte-apple);
    font-weight: bold;
    font-size: 12pt;
    letter-spacing: 2px;
    margin: 10px;
    cursor: pointer;
}

.botao-1:hover{
    background-color: #d2386c;
    color: #fff;
}



.rodape{
    color: white;
    font-family: Quicksand, sans-serif;
    font-size: 10pt;
}

.footer{
    margin: 0;
    padding: 10px;
    color: #fff;
    background-color: #0C3C78;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: var(--fonte-apple);
}

/* Otimização para outros dispositivos */
@media only screen and (max-width: 950px){
    .card-login{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    .conteiner{
        flex-direction: column;
    }
    .conteiner-1{
        width: 100%;
        height: auto;
    }
    .conteiner-2{
        width: 100%;
        height: auto;
    }
    .imagem {
        width: 50vw;
    }
}











