/* === Google font import - Poppins === */ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
   background-color: #1a5494;
}
/* === Container === */ 

.container{
    position: relative;
    min-height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin:  0 auto;
    padding: 40px 20px;
    
}

/* === Imagens === */ 

.images{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images .image-box{
    margin: 8px;
    box-shadow: 3px 3px 3px;
}

.container .images .image-box{
    position: relative;
    height: 90px;

    border-radius: 6px;

    overflow: hidden;
}

.images .image-box img{
    height: 100%;
    width: 100%;

    border-radius: 6px;

    transition: transform 0.2 linear;
}

.container .images h6{
    position: absolute;

    bottom: 10px;
    left: 10px;

    color: #Fff;

    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

/* === Hover === */ 

.image-box:hover img{
    transform: scale(1.05) ;
}