body {
    margin: 0;
}

/* main login */
.conteiner{
    /* VW corresponde a: Viewport width e Vh a: Viewport height. E Viewport a:Porcentagem de pixel da tela. EX: se sua tela tem 1000px 1 vh corresponde a 1%, logo 1vh = 10px */ 
    width: 100vw;
    height: 100vh;
    background-color: #1073B3;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
/* left-login */
.conteiner-1 {
   width: 50vw;
   height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
}

/* left-login */
.conteiner-1 > h1{
    color: white;
}
/* right-login */
.conteiner-2 {
   width: 50vw;
   height: 100vh;
   display:flex;
   justify-content: center;
   align-items: center;
}


/* card login */
.card-login {
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0C3C78;
    padding: 30px 35px;
    border-radius: 20px;
    margin: 10px;
    box-shadow:0px 10px 15px black;
}

.imagem {
   margin: 20px;
   padding-left: 25px;
}

.imagem-1 {
    width: 50vw;
    margin: 10px;
}

.campo-de-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.campo-de-texto > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 11pt;
    font-family: Quicksand, sans-serif;
    box-sizing: border-box;
}

.botao {
  width: 100%;
  padding: 16px 0px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: black;
  background-color:  white;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #1073B3;
  font-family: Quicksand, sans-serif;
}












