* {
    margin:0;
}


.container{
    max-width: 800px;
    border: 1px solid black;
    display: flex;
}

.item{
    background-color: black ;
    margin: 5px;
    color: white;
    text-align: center;
    flex:1;
}

.center{
    align-items: center;
    
}

.stretch{
    align-items: stretch;
}

.start{
    align-items: flex-start;
}

.end{
    align-items: flex-end;
}
.baseline{
    align-items: baseline;
    
}


.column{
    flex-direction: column;
}

.central .item{
    padding: 20px;
    flex: 0;
}








