* {
    margin: 0;
}

.container{
    display: flex;
    margin-bottom: 10px;

    border: 1px solid black;

    max-width: 350px;
}

.item{
    background-color: orangered;

    font-size: 24px;
    text-align: center;

    margin: 5px;
}

.s-0{
    flex-shrink: 0;
    flex-basis: 100px;
}

.s-2{
    flex-shrink: 2;
    flex-basis: 100px;
}

.sk-1{
    flex-shrink: 1s;
}

.fg-1{
    flex-grow: 1;
}