.container{
    display: flex;
    max-width: 500px;

    border: 1px solid black;
    margin-bottom: 20px;
}

.item{
    flex: 1;

    background-color: blue;
    color: white;

    text-align: center;
    font-size: 20px;

    margin: 5px;
    order: 0;
}

.ol{
    order: 1;
}

.o2{
    order: 2;
}

.o3{
    order: 1;
}

.direction{
    flex-direction: column;
}