* {
    box-sizing: border-box;
    border-radius: 8px;
}

body {
    width: 100%;
    height: 100%;

}

form {
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input{
    display: block;
    margin: 10px;
    width: 250px;
    height: 30px;
}
